<a href="https://colab.research.google.com/github/smhr94/Python-Learning-Journey/blob/main/Data_types_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# function print
print('hi')

hi

In [ ]:
# str
x = "Samaneh"
print(x)

Samaneh

In [ ]:
# str
x = "Samaneh"
print("x = ",x)

x =  Samaneh

In [ ]:
# function type
type(x)

str

In [ ]:
# int
x = 3
print(type(x))
print('x = ',x)

<class 'int'>
x =  3

In [ ]:
# float
x = 3.5
print(type(x))

<class 'float'>

In [ ]:
# complex
z = 2j

In [ ]:
type(z)

complex

In [ ]:
# complex
z = 2 + 3j
print(z.real)
print(z.imag)

2.0
3.0

In [ ]:
# function input
a = input("enter a a:")
print(type(a))

enter a a:3
<class 'str'>

In [ ]:
# change function input type
a = int(input("enter a number:"))
print(type(a))
print(a + 3)

enter a number:5
<class 'int'>
8

In [ ]:
# bool
b = 4
c = 5
print(b == c)

False

In [ ]:
#guessing the number 42!
x = 42

#introduction
print('=== WELCOME ===')

#get the guessed number
guessed = int(input('guess a number:'))

#check if the guess is right
print(guessed == x)

=== WELCOME ===
guess a number:42
True

In [ ]:
#get the length
x = int(input("enter a length:"))

#get the width
y = int(input("enter a width:"))

#Area calculation
print("Area:", x * y)

enter a length:6
enter a width:3
Area: 18

In [ ]:
# list

my_list1 = [0,1,2,3,4,['a','b'],4.5,7j,'h']
my_list2 = ["Apple","Orange","Pear"]

In [ ]:
# use index in list
my_list2[0]

'Apple'

In [ ]:
# use index in list
my_list1[5]

['a', 'b']

In [ ]:
# slicing in list
my_list2[0:3]

['Apple', 'Orange', 'Pear']

In [ ]:
# slicing in list
my_list1[1:6:2]

[1, 3, ['a', 'b']]

In [ ]:
# print and type function
print(my_list2, ',', type(my_list2))

['Apple', 'Orange', 'Pear'] , <class 'list'>

In [ ]:
# slicing in list
my_list1[2:]

[2, 3, 4, ['a', 'b'], 4.5, 7j, 'h']

In [ ]:
# slicing in list
my_list1[:2]

[0, 1]

In [ ]:
# use index in list
my_list1[5]

['a', 'b']

In [ ]:
# use index in list
my_list1[5][0]

'a'

In [ ]:
# list

my_list1 = [0,1,2,3,4,['a','b'],4.5,7j,'h']
my_list2 = ["Apple","Orange","Pear"]

In [ ]:
# use negative index in list
my_list1[-1]

'h'

In [ ]:
# use negative index in list
my_list1[-4]

['a', 'b']

In [ ]:
# slicing in list
my_list1[-4:-1]

[['a', 'b'], 4.5, 7j]

In [ ]:
# list

my_list1 = [0,1,2,3,4,['a','b'],4.5,7j,'h']
my_list2 = ["Apple","Orange","Pear"]

In [ ]:
# Value in list
my_list1[0] = 10

In [ ]:
my_list1[0]

10

In [ ]:
# tuple
tuple_1 = (3, 4.5,'s')
print(type(tuple_1))

<class 'tuple'>

In [ ]:
# Tuples are immutable.
tuple_1[0] = 10

In [ ]:
# str
str_1 = 'samaneh'

In [ ]:
# slicing in str
str_1[1:3]

'am'

In [ ]:
# Nested lists
lst1 = [2,3.5,6j,('s',4,['a','b']),[22,'mgd']]

In [ ]:
lst1[-1][1][1]

'g'

In [ ]:
# reversed word

word = input('enter a word:')
reversed_word = word[::-1]
print(reversed_word)

enter a word:samaneh
henamas

In [ ]:
# function lower
txt_string = "HELLO, MY FRIENDS"
x = txt_string.lower()
print(x)

hello, my friends

In [ ]:
# method append in list
fruits_list = ['apple', 'banana', 'cherry']
fruits_list.append("orange")
print(fruits_list)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# === set ===
my_set = {"a",'b','b',"b","c"}
print(my_set,',',type(my_set))
my_list3 = ["a",'b','b',"b","c"]
print(my_list3,',',type(my_list3))

{'a', 'b', 'c'} , <class 'set'>
['a', 'b', 'b', 'b', 'c'] , <class 'list'>

In [ ]:
# bool in list
print(my_list3[1] == 'a')

False

In [ ]:
# === Dictionaries ===
my_dict1 =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(my_dict1,',',type(my_dict1))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964} , <class 'dict'>

In [ ]:
#print value
my_dict1["brand"]

'Ford'

In [ ]:
#Change the value or add an item
my_dict1["year"] = 1966
my_dict1["country"] = "America"
print(my_dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1966, 'country': 'America'}

In [ ]:
#List of keys and values
print(my_dict1.keys())
print(my_dict1.values())

dict_keys(['brand', 'model', 'year', 'country'])
dict_values(['Ford', 'Mustang', 1966, 'America'])

In [ ]:
my_dict1 =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
# bool in Dictionary
print(my_dict1["year"] == 1964)

True

In [ ]:
# booleans
v_1 = 1 == 2
print(v_1 ,',', type(v_1))

False , <class 'bool'>

In [ ]:
# use int, float, str, list, dict and bool
int_1 = 4
float_1 = 10.75
str_1 = "samaneh"
list_1 = ["x", 2, "d", [1, 2, ("x", "y")]]
dict_1 = {"a": [1,2,3], "b": {"x": 0}}
bool_1 = True

In [ ]:
# Addition operator
print("1:",int_1 + float_1 )

1: 14.75

In [ ]:
# Multiplication operator
print("2:", str_1 * int_1)

2: samanehsamanehsamanehsamaneh

In [ ]:
# Addition operator
str1 = "ab"
str2 = "cd"
print(str1 + str2)

abcd

In [ ]:
# Addition operator
print("3:", list_1 + list_1)

3: ['x', 2, 'd', [1, 2, ('x', 'y')], 'x', 2, 'd', [1, 2, ('x', 'y')]]

In [ ]:
# # Multiplication operator
print("3:", list_1 * 2)

3: ['x', 2, 'd', [1, 2, ('x', 'y')], 'x', 2, 'd', [1, 2, ('x', 'y')]]

In [ ]:
# Multiplication operator
tuple_1 = ('a', 1)
print("4:", tuple_1 + tuple_1)
print("4:", tuple_1 * 2)

4: ('a', 1, 'a', 1)
4: ('a', 1, 'a', 1)

In [ ]:
print("5:", int_1 / 2) # Division operator with decimals
print("5:", int_1 // 2) # Division operator with no decimals
print("5:", int_1 % 2) # Remainder operator

5: 2.0
5: 2
5: 0

In [ ]:
# Addition operator
int_1 += float_1
print("6:", int_1)

6: 14.75

In [ ]:
# compound assignment operators(AND)
print("7:", bool_1)

bool_1 &= False
print("7:", bool_1)

7: True
7: False

In [ ]:
# compound assignment operators(OR)
bool_1 |= True
print("7:", bool_1)

7: True